<div class="all-PRs-container">
  <div class="card-header">
    <h2>Feed</h2>
  </div>  

{{#each lifts as |lift|}}
    <div class="lift">
      
      <p>
        {{lift.title}}
        {{lift.description.weight}} {{lift.description.unit}}
      </p>
    </div>
    <div class="col-md-7">
      <p>
        {{!-- Uses the User model alias 'user' to get the username attribute that was included in the query for Lift.findAll --}}
        Posted by {{lift.user.username}} on {{format_date lift.createdAt}}
      </p>
    </div>
  {{/each}}
</div>